Submitted By: **Muhammad Zaki Ahmad**

In [18]:
# import important libraries
import numpy as np
import pandas as pd

In [19]:
# create sample data
sales_data = {
    'Region': ['North', 'South', 'East', 'West'],
    'Sales': [100000, 150000, 200000, 120000]
}
sales_df = pd.DataFrame(sales_data)

customer_data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'East'],
    'Customer': ['A', 'B', 'C', 'D', 'E', 'F']
}
customer_df = pd.DataFrame(customer_data)

In [20]:
# Combining and Merging Datasets
# merge the two dataframes on the 'Region' column
merged_df = pd.merge(sales_df, customer_df, on='Region')

print(merged_df)

  Region   Sales Customer
0  North  100000        A
1  North  100000        E
2  South  150000        B
3   East  200000        C
4   East  200000        F
5   West  120000        D

In [21]:
# Reshaping Data
# reshape the data to show the total sales for each customer
pivoted_df = merged_df.pivot(index='Customer', columns='Region', values='Sales')
pivoted_df['Total'] = pivoted_df.sum(axis=1)

print(pivoted_df)

Region        East     North     South      West     Total
Customer
A              NaN  100000.0       NaN       NaN  100000.0
B              NaN       NaN  150000.0       NaN  150000.0
C         200000.0       NaN       NaN       NaN  200000.0
D              NaN       NaN       NaN  120000.0  120000.0
E              NaN  100000.0       NaN       NaN  100000.0
F         200000.0       NaN       NaN       NaN  200000.0