**<h1> <font color='Green'>Task_13 and Task 14</font> </h1>**

In [5]:
import pandas as pd

data = [1, 3, 5, 7, 9]
s = pd.Series(data)
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [6]:
data = {'name': ['John', 'Emily', 'Sam'], 'age': [25, 28, 21], 'city': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

    name  age         city
0   John   25     New York
1  Emily   28  Los Angeles
2    Sam   21      Chicago

In [9]:
df= {'ID': [101, 102, 103, 104, 105],
        'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'],
        'Age': [28, 32, 26, 34, 29],
        'Salary': [50000, 60000, 45000, 70000, 55000]}

df = pd.DataFrame(data)

print(df)

    ID     Name  Age  Salary
0  101    Alice   28   50000
1  102      Bob   32   60000
2  103  Charlie   26   45000
3  104     Dave   34   70000
4  105      Eve   29   55000

In [10]:

# Selecting rows with Age > 25
df = df[df['Age'] > 25]
# Selecting columns ID and Name
df = df[['ID', 'Name']]
print(df)

    ID     Name
0  101    Alice
1  102      Bob
2  103  Charlie
3  104     Dave
4  105      Eve

In [ ]:
# Read data from CSV file
data = pd.read_csv('data.csv')

# Print first 5 rows of the DataFrame
print(data.head())

In [ ]:
# Read data from JSON file
data = pd.read_json('data.json')

# Print first 5 rows of the DataFrame
print(data.head())

In [ ]:
# Read data from Excel file
data = pd.read_excel('data.xlsx')

# Print first 5 rows of the DataFrame
print(data.head())

In [ ]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')

# Read data from a table
data = pd.read_sql('SELECT * FROM table', conn)

# Print first 5 rows of the DataFrame
print(data.head())

# Close the connection
conn.close()