<h1> <font color=green>Deep Learning Bytewiseship</font> </h1>

<h2> <font color=green>Task 5</font> </h2>

In [8]:
import time

# Using enumerate() function
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [9]:
# Timing code
start_time = time.time()
# Code to time goes here
end_time = time.time()
print("Time elapsed:", end_time - start_time)

Time elapsed: 2.956390380859375e-05

In [10]:
# User inputs and conditionals
age = int(input("Enter your age: "))
if age >= 18:
    print("You are an adult")
else:
    print("You are not an adult")

Enter your age: 21
You are an adult

In [11]:
# Sets and set operations
set1 = {1, 2, 3}
set2 = {2, 3, 4}
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)
symmetric_difference_set = set1.symmetric_difference(set2)
print("Union set:", union_set)
print("Intersection set:", intersection_set)
print("Difference set:", difference_set)
print("Symmetric difference set:", symmetric_difference_set)

Union set: {1, 2, 3, 4}
Intersection set: {2, 3}
Difference set: {1}
Symmetric difference set: {1, 4}

In [12]:
# Making data unique with sets
list_with_duplicates = [1, 2, 3, 2, 4, 1, 5]
unique_set = set(list_with_duplicates)
list_without_duplicates = list(unique_set)
print("List with duplicates:", list_with_duplicates)
print("List without duplicates:", list_without_duplicates)

List with duplicates: [1, 2, 3, 2, 4, 1, 5]
List without duplicates: [1, 2, 3, 4, 5]