Submitted By: **Muhammad Zaki Ahmad**

In [7]:
# import important libraries
import numpy as np
import pandas as pd

In [8]:
# create sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'George', 'Hannah', 'Isaac', 'Jack'],
    'Age': [22, 35, 27, np.nan, 30, 24, 25, 19, np.nan, 28],
    'Salary': [50000, 60000, np.nan, 55000, 65000, 45000, 40000, 55000, 60000, 50000],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'M']
}
df = pd.DataFrame(data)

In [10]:
 #Handling Missing Data
# count the number of missing values in each column
print(df.isnull().sum())

Name      0
Age       2
Salary    1
Gender    0
dtype: int64

In [6]:
# Filling and replacing
df['Gender'] = df['Gender'].replace({'Male': 'M', 'Female': 'F'})

In [11]:
# fill missing values with the mean of the column
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [12]:
# Filling and Replacing Values
# replace all occurrences of 'M' with 'Male'
df['Gender'] = df['Gender'].replace('M', 'Male')

In [13]:
# Removing Duplicates
# create a duplicate row
duplicate_row = pd.DataFrame({
    'Name': ['Isaac'],
    'Age': [28],
    'Salary': [60000],
    'Gender': ['Male']
})

In [14]:
df = pd.concat([df, duplicate_row], ignore_index=True)

In [15]:
# drop duplicate rows
df = df.drop_duplicates()

In [17]:
# Detecting and Removing Outliers
# identify outliers in the 'Salary' column using the Z-score method
z_scores = np.abs((df['Salary'] - df['Salary'].mean()) / df['Salary'].std())
outliers = df[z_scores > 3]

# remove outliers
df = df[z_scores <= 3]